.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.vscode

dist/
build/
*.egg-info/

.pytest_cache/
.ruff_cache/
.mypy_cache/

.DS_Store
test.py
test2.py


# Local/generated engineering files
# *.h5
# *.hdf5
# *.csv
*.png
*.jpg
*.jpeg
*.pdf
*.json